dash==4.0.0
dash-mantine-components==2.5.1
plotly==6.5.2
dash-iconify==0.1.2

pandas==3.0.0
numpy==2.3.3
scipy==1.17.0

nltk==3.9.2
scikit-learn==1.8.0
sentence-transformers==5.2.2
bertopic==0.17.4
pybiber==0.3.0
pyarrow==23.0.1
openai==2.21.0

wordcloud==1.9.6
pillow==12.1.1

gunicorn==25.0.3

markdown-it-py==4.0.0
linkify-it-py==2.0.3
